@using Kztek_Library.Helpers
@model Kztek_Core.Models.GridModel<Kztek_Model.Models.CDKey>

@{


    var controller = "CDKey";
    string selected = (string)ViewBag.selectedIdValue;
    var authModel = (Kztek_Library.Models.AuthActionModel)ViewBag.AuthValue;

}
<div id="boxModal">

</div>
<div class="page-header">
    <h1>
        CD Key
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("Index", controller, FormMethod.Get, new { id = "frmPC" }))
    {
        @Html.Hidden("CDKey", (string)ViewBag.CDKeyValue)
        @Html.Hidden("selectedId", selected)
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <input type="text" name="key" value="@ViewBag.keyValue" placeholder="@await LanguageHelper.GetLanguageText("BODY:SEARCH:KEYWORD")" class="form-control" />
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 divboxmd">
            <button class="btn btn-white btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> @await LanguageHelper.GetLanguageText("BODY:BUTTON:SEARCH") </button>
            <a href='@Url.Action("Index", controller)' class="btn btn-primary btn-white" type="submit">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                @await LanguageHelper.GetLanguageText("BODY:BUTTON:RESET")
            </a>
        </div>
    }
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <a href='javascript:void(0)' class="btn btn-white btn-success btnCreateKey">
            <i class="fa fa-plus"></i> Tạo key mới
        </a>
    </div>
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Tên phần mềm</th>
                    <th class="text-center">Key</th>
                    <th class="text-center hidden-480">Trạng thái</th>
                    <th class="text-center" width="150">Ngày tạo</th>
                    <th class="text-center" width="150">Người tạo</th>
                    <th class="text-center" width="80"></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    foreach (var item in Model.Data)
                    {
                        <tr class="@string.Format("{0}", (!string.IsNullOrWhiteSpace(selected) && !string.IsNullOrEmpty(item.Id) && selected == item.Id.ToString() ) ? "info" : "")">
                            <td class="text-left">
                                @item.AppId
                            </td>

                            <td class="text-left hidden-480">
                                @item.Code
                            </td>

                            <td class="text-center hidden-480">
                                @if (item.Active)
                                {
                                    <span class="label label-sm label-success">Đã kích hoạt</span>
                                }
                                else
                                {
                                    <span class="label label-sm label-info">Chưa kích hoạt</span>
                                }
                            </td>

                            <td class="center">
                                @item.DateCreated.ToString("dd/MM/yyyy HH:mm:ss")
                            </td>
                            <td class="text-left">
                                @item.UserCreated
                            </td>
                            <td class="center">
                                <div class="btn-CDKey">
                                    @await Html.PartialAsync("~/Views/Shared/Partials/ActionPartial.cshtml", new Kztek_Library.Models.AuthPartialModel()
                                    {
            ControllerName = controller,
            ActionName = "Update",
            RecordId = "",
            model = new { id = item.Id, AreaCode = ViewBag.AreaCodeValue },
            Auth_Value = authModel
        })
                                    @if (!item.Active)
                                    {
                                        @await Html.PartialAsync("~/Views/Shared/Partials/ActionPartial.cshtml", new Kztek_Library.Models.AuthPartialModel()
                                 {
       ControllerName = controller,
       ActionName = "Delete",
       RecordId = item.Id,
       model = null,
       Auth_Value = authModel
   })
                                    }


                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", controller, new
           {
               page = x,
               gate = ViewBag.gateValue,
               key = ViewBag.keyValue,
               AreaCode = ViewBag.AreaCodeValue,
               selectedId = selected
           }))
            </div>
        </div>
    }

    <input type="hidden" id="Confirm_delete" value="@await Component.InvokeAsync("Language", new { path = "MESSAGEREPORT:REMOVE:CONFIRM_DELETE" })" />
    <input type="hidden" id="del_Success" value="@await Component.InvokeAsync("Language", new { path = "MESSAGEREPORT:REMOVE:SUCCESS" })" />
    <input type="hidden" id="noti" value="@await Component.InvokeAsync("Language", new { path = "MESSAGEREPORT:NOTIFICATION" })" />

</div><!-- /.row -->
@section scripts{
    <script src="~/modules/Parking/CDKeyController.js"></script>
    <script>
        $(document).ready(function () {

             $(".btnDelete").click(function () {
                var cmd = $(this);
                var id = cmd.attr('idata');

                 bootbox.confirm($("#Confirm_delete").val(), function (result) {
                    if (result) {
                        JSHelper.AJAX_Delete('/Admin/' + '@controller' + '/Delete', id)
                            .success(function (response) {
                                if (response.isSuccess) {
                                    cmd.parent().parent().parent().fadeOut();
                                    toastr.success($("#del_Success").val(), $("#noti").val())
                                } else {
                                    toastr.error(response.Message)
                                }
                            });
                    }
                })
            });
        });
    </script>
}
